---
import banner from '$/banner 1x5.webp';
import logo from '$/neenary-black.svg';
import Blog from '@/components/Blog.astro';
import Layout from '@/layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <img src={banner.src} alt="neenary banner" class="brightness-65">
  <div id="border">
    <div></div>
    <img
      class="w-36 bg-white rounded-full outline-solid outline-8 outline-black place-self-center absolute"
      src={logo.src} alt="neenary logo"
    >
    <div></div>
  </div>
  <Blog/>
</Layout>

<style>
  @plugin "daisyui" {
    themes: false;
  };

  #border {
    div {
      @apply border-y-4 border-primary;
    }
  }
</style>
