
<div class="w-5/6 place-self-center bg-base-200 p-4 pt-24 grow">
  <div class="card card-border bg-base-100">
    <div class="card-body">
      <a href="/blog/2026-01-11-gi-abyss-6.2">
        <h2 class="card-title">Genshin Impact - Spiral Abyss 6.2 Luna III - 9 Star - Level 8 Talent</h2>
      </a>
      <p>Spyral Abyss 9* clear C0 limited 5 start and level 8 talent excluding constellation</p>
    </div>
  </div>
  <div class="card card-border bg-base-100">
    <div class="card-body">
      <a href="/blog/2026-01-22-gi-abyss-6.3">
        <h2 class="card-title">Genshin Impact - Spiral Abyss 6.3 Luna IV - 9 Star - Level 8 Talent</h2>
      </a>
      <p>Spyral Abyss 9* clear C0 limited 5 start and level 8 talent excluding constellation</p>
    </div>
  </div>
</div>
